<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 selected-tee-time-container">
        <div class="row">
            <div class="m-t-10 m-b-15 padding-15 tee-time-detail">
                <h5>Selected Tee Time</h5>
                <hr />
                <div class="col-xs-7">
                    <span class="f-s-19" id="startDateText"></span>
                    <br />
                    <span class="f-s-19" id="endDateText"></span>
                </div>
                <div class="col-xs-5">
                    <span class="f-s-19" id="reservationCount"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="text" id="memberEmailSearch" class="form-control" placeholder="Add Member By Email" />
            </div>
            <div class="form-group">
                <buttton class="btn btn-primary" onclick="addMemberToTeeTime()">+ Add Member</buttton>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="col-xs-12 tee-time-detail" style="height: auto">
            <h4>Members Added</h4>
            <hr class="hr-custom" />
            <div id="membersToBeAdded" class="list-group">

            </div>
        </div>
    </div>

</div>