
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Reservation Manager</li>
</ol>
<div class="col-xs-12 m-t-25">


    <div class="col-xs-12 col-md-3 col-sm-4 m-b-15 mouse-like" onclick="createReservation()">
        <div class="col-xs-12 green-bar text-center">
            <span class="white-big-span"><i class="fa fa-plus m-r-10"></i>CREATE RESERVATION</span>
        </div>
    </div>
    <div class="col-xs-12 col-md-3 col-sm-4 m-b-15 mouse-like" onclick="reservationList()">
        <div class="col-xs-12 purple-bar text-center">
            <span class="white-big-span"><i class="fa fa-list m-r-10"></i>UPCOMING RESERVATIONS</span>
        </div>
    </div>
    <div class="col-xs-12 col-md-3 col-sm-4 m-b-15">
        <div class="col-xs-12 blue-bar text-center">
            <span class="white-big-span"><i class="fa fa-clock-o m-r-10"></i>TEE TIMES SCHEDULE</span>
        </div>
    </div>
    <div class="col-xs-12 col-md-3 col-sm-4 m-b-15">
        <div class="col-xs-12 black-bar text-center">
            <span class="white-big-span"><i class="fa fa-history m-r-10"></i>HISTORY</span>
        </div>
    </div>
</div>
