body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.bg-white {
    background: white;
}

.field-validation-error {
    color: red;
}

.validation-summary-errors {
    font-weight: normal;
    color: white;
    background: #990000;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
}

.validation-summary-errors > ul{
    padding-left: 8px;
    padding-top: 4px;
    font-size: 15px;
}

.validation-summary-errors > ul > li{
    list-style: none;
}

.user-detail-more-no-border
{
    border: 1px solid lightgray;
    height: 400px;
    background: white;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

label {
    font-weight: 400;
    font-size: 15px;
}

select {
    box-shadow: none !important;
    border-radius: 0 !important;
}

input[type=text], input[type=password] {
    border-radius: 0;
    padding: 5px;
    border: 1px solid lightgray;
    box-shadow: none !important;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.my-nav {
    background-color: #2d353c;
    height: 100VH;
    width: 100%;
    margin-top: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Lato', sans-serif !important;*/
}

.my-nav > li > a {
    color: white;
    width: 100%;
}

.my-nav > li {
    width: 100%;
}

    .my-nav > li:hover > a {
        background-color: #00acac;
    }

.navbar-brand {
    color: lightseagreen !important;
    padding: 35px 15px;
}

.margin-top {
    margin-top: 10px;
}

.my-label {
    font-size: 18px;
    font-family: Calibri;
    font-weight: bold;
    font-style: italic;
}

.standard-border {
    border: 1px solid lightgray;
}

.dataTables_wrapper {
    background: white;
    padding: 15px;
    border: 1px solid lightgray;
}

.applicant-div {
    border: 1px solid lightgray;
    height: auto;
    overflow: hidden;
}

.bg-gray {
    background-color: #d9e0e7;
}

.navbar-inverse {
    height: 92px;
    background: white !important;
    border: 1px solid hsl(0, 0%, 85%);
}

    .navbar-inverse .navbar-brand {
        text-shadow: none !important;
        font-size: 26px;
        font-weight: 900;
    }

    .navbar-inverse .navbar-nav > li > a {
        font-size: 13px;
        text-transform: uppercase;
    }

.m-t-30 {
    margin-top: 30px;
}

.welcome-message {
    color: white !important;
}

.f-s-17 {
    font-size: 17px;
}

.m-b-5 {
    margin-bottom: 5px;
}

@media(min-width: 768px) {
    .navbar-nav {
        margin-top: 20px;
    }
}

.bg-home {
    height: auto;
    padding: 40px 0 40px 0;
    overflow: hidden;
    min-height: 100vh;
    background: url('img/golf-bg-edit.jpg') no-repeat lightseagreen;
    background-size: cover;
}

.m-t-110 {
    margin-top: 110px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:active {
    color: #999;
}

.m-r-10 {
    margin-right: 10px;
}

.btn-spacious {
    border-radius: 0 !important;
    padding: 10px 50px 10px 50px !important;
}

.sign-up-div {
    margin-top: 35px;
    border: 1px solid lightgray;
    background-color: white;
    padding: 10px;
}

.profile-image {
    height: 200px;
    width: 100%;
}

.user-detail {
    border: 1px solid lightgray;
    height: 400px;
    background: white;
}

.user-detail-more {
    border: 10px double lightgray;
    height: 400px;
    background: white;
}

.m-t-25 {
    margin-top: 25px;
}

.panel {
    /*border-radius: 0 !important;*/
}

.panel-default {
    border-color: lightgray !important;
}

    .panel-default > .panel-heading {
        background-color: white !important;
    }

.panel-body {
    background: #f0f3f4;
}

.btn {
    border-radius: 0 !important;
}

.block-span {
    display: block;
    margin-top: 4px;
    width: 350px;
    float: left;
}

.h-55 {
    height: 55px;
}

.overflow-hidden {
    height: auto;
    overflow: hidden;
}

.p-10 {
    padding: 10px;
}

.bold-label {
    font-weight: 600;
}

.green-bar {
    min-height: 130px;
    border-radius: 3px;
    background: #00acac !important;
    margin-bottom: 20px;
    color: white;
}

.white-big-span {
    color: white;
    font-size: 16px;
    padding-top: 55px;
    display: block;
}

.black-big-span {
    color: gray;
    font-size: 16px;
    margin-top: 15px;
    display: block;
}

.mouse-like {
    cursor: pointer;
}

.m-l-3p {
    margin-left: 3%;
}

.m-b-15 {
    margin-bottom: 15px;
}

.purple-bar {
    min-height: 130px;
    border-radius: 3px;
    background: #727cb6 !important;
    margin-bottom: 20px;
    color: white;
}

.black-bar {
    min-height: 130px;
    border-radius: 3px;
    background: #2d353c !important;
    margin-bottom: 20px;
    color: white;
}

.blue-bar {
    min-height: 130px;
    border-radius: 3px;
    background: #348fe2 !important;
    margin-bottom: 20px;
    color: white;
}

.bold {
    font-weight: 600;
}

.bg-gray-border {
    background: white;
    border: 1px solid lightgray;
}

.h-100 {
    height: 100px;
}

.f-s-14 {
    font-size: 14px;
}

.f-s-19 {
    font-size: 19px;
}

.padding-15 {
    padding: 15px;
}

.m-t-10 {
    margin-top: 10px;
}

.hr-custom {
    border: 3px solid gray !important;
}

.white-bar {
    min-height: 130px;
    border-radius: 3px;
    background: white !important;
    margin-bottom: 20px;
    color: white;
    margin-right: 25px;
    color: gray;
}

.fc-event-container {
    cursor: pointer !important;
}

.breadcrumb {
    background-color: transparent !important;
    padding: 8px 0 !important;
    border-radius: 0 !important;
}

.margin-bottom {
    margin-bottom: 20px;
}

.chat-window {
    background: white;
    border: 1px solid lightgray;
    height: 587px;
    padding: 7px;
}

.chat-convo {
    border-bottom: 1px solid lightgray;
    height: 390px;
    overflow: auto;
}

.chat-text {
    margin-top: 10px;
    width: 100%;
    resize: none;
    border: 1px solid lightgray;
    height: 120px;
}

.f-s-0 {
    font-size: 0 !important;
}

.side-help {
    background: white;
    border: 1px solid lightgray;
    height: 200px;
    padding: 7px;
}

.no-padding {
    padding: 0 !important;
}

.other-user-chat-div {
    width: 96%;
    margin-bottom: 2%;
    margin-right: 2%;
    float: right;
    opacity: 0.9;
    background: #9fd0e4;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    padding: 1%;
    border: 1px solid #9fd0e4;
    font-size: 12px;
    color: black;
}

.user-chat-div {
    width: 96%;
    margin-bottom: 2%;
    float: left;
    opacity: 0.9;
    margin-left: 2%;
    background: white;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    padding: 1%;
    border: 1px solid hsl(0, 0%, 88%);
    font-size: 12px;
}

.chat-pic {
    height: 50px;
    float: left;
    width: 50px;
    border: none;
    font-size: 50px !important;
}

.chat-message-div {
    height: 100%;
    float: left;
    width: 76%;
    margin-left: 2%;
}

.f-s-15 {
    font-size: 15px;
}

.tee-time-detail {
    height: auto;
    overflow: hidden;
    border: 1px solid lightgray;
    background: white;
}